<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=localhost;Initial Catalog=sc80rev150223Sitecore_core;Integrated Security=False;User ID=sitecore;Password=sitecore123" />
  <add name="master" connectionString="Data Source=localhost;Initial Catalog=sc80rev150223Sitecore_master;Integrated Security=False;User ID=sitecore;Password=sitecore123" />
  <add name="web" connectionString="Data Source=localhost;Initial Catalog=sc80rev150223Sitecore_web;Integrated Security=False;User ID=sitecore;Password=sitecore123" />
  <!--<add name="analytics" connectionString="mongodb://localhost:27017/sc80rev150223_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/sc80rev150223_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/sc80rev150223_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/sc80rev150223_tracking_contact" />
  <add name="reporting" connectionString="Data Source=localhost;Initial Catalog=sc80rev150223Sitecore_reporting;Integrated Security=False;User ID=sitecore;Password=sitecore123" />-->
</connectionStrings>