<!--

Purpose: This include file changes the "dataFolder" setting

To enable this, rename this file so that it has a ".config" extension

Notice how "patch:attribute" is used to change the value of attributes that 
are specified for an existing element in the web.config file

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="dataFolder">
      <!-- This is a virtual path defined in IIS which maps to the data folder outside the webroot.-->
      <patch:attribute name="value">/localdata</patch:attribute>
    </sc.variable>
  </sitecore>
</configuration>